.wrapper {
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 60px 1fr auto auto auto;
	gap: 30px;

	padding: 10px 30px;
}

.sheetheader {
	display: grid;
	align-items: center;
	grid-template-columns: auto 1fr;
}
